<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Estadísticas de tus emociones</h1>
        <p>Aquí puedes ver un resumen de tus emociones registradas</p>
        
        <div class="stats-grid">
            <div class="stat-card">
                <h2>Total de Registros</h2>
                <p>{{ total_registros }}</p>
            </div>
            <div class="stat-card">
                <h2>Emoción Más Frecuente</h2>
                <p>{{ emocion_frecuente }}</p>
            </div>
            <div class="stat-card">
                <h2>Última Emoción Registrada</h2>
                <p>{{ ultima_emocion }}</p>
            </div>
        </div> 
    </div>
        <nav class="mobile-nav">
            <div><a href="{{ url_for('index') }}">Volver al Diario</a></div>
            <div><a href="{{ url_for('logout') }}" class="logout-link">Cerrar Sesión</a></div>
        </nav>
</body>
</html>