<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body class="login-capsule">
    <div class="login-card">
        <div class="login-header">
        <h1>Inicio</h1>
        <p>¡accede a tu cuenta!</p>
        </div>
    <div class="login-body">
        <form action="/login" method="POST">
            <div class="input-group">
                <label>USUARIO:</label>
                <input type="text" name="username" placeholder="Tu nombre de usuario" required>
            </div>
            
            <div class="input-group" style="position: relative;">
                <label>CONTRASEÑA:</label>
                <input type="password" name="password" placeholder="••••••••" required>
                <i class="fa-solid fa-eye" id="eyeIcon" style="position: absolute; right: 15px; top: 35px; cursor: pointer; color: #7f8c8d;"></i>
            </div>
            <button type="submit" class="btn-submit">ENTRAR</button>
        </form>

        <div class="footer">
            ¿No tienes cuenta? <a href="/signup">Regístrate</a>
        </div>
    </div>

</body>
</html>