<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="login-capsule">
    <div class="login-card">
        <div class="login-header">
        <h1>Crear Cuenta</h1>
        <p>Únete para poder manejar tus emociones</p>
        </div>
    <div class="login-body">
        <form action="/signup" method="POST">
            <div class="input-group">
                <label>USUARIO:</label>
                <input type="text" name="username" placeholder="Tu nombre de usuario" required>
            </div>
            
            <div class="input-group">
                <label>CURSO:</label>
                <select name="curso" required style="width: 100%; padding: 10px; border-radius: 8px; border: 1px solid #ddd;">
                    <option value="" disabled selected>Selecciona tu curso</option>
                    <option value="601">601</option>
                    <option value="602">602</option>
                    <option value="603">603</option>
                    <option value="701">701</option>
                    <option value="702">702</option>
                    <option value="703">703</option>
                    <option value="801">801</option>
                    <option value="802">802</option>
                    <option value="803">802</option>
                    <option value="901">901</option>
                    <option value="902">902</option>
                    <option value="903">903</option>
                    <option value="1001">1001</option>
                    <option value="1002">1002</option>
                    <option value="1003">1003</option>
                    <option value="1004">1004</option>
                    <option value="1101">1101</option>
                    <option value="1102">1102</option>
                    <option value="1103">1103</option>
                    <option value="1104">1104</option>
                </select>
</div>
            <div class="input-group" style="position: relative;">
                <label>CONTRASEÑA:</label>
                <input type="password" name="password" placeholder="••••••••" required>
                <i class="fa-solid fa-eye" id="eyeIcon" style="position: absolute; right: 15px; top: 35px; cursor: pointer; color: #7f8c8d;"></i>
            </div>
            <button type="submit" class="btn-submit">REGISTRARME</button>
        </form>

        <div class="footer">
            ¿Ya tienes cuenta? <a href="/login">Inicia sesión</a>
        </div>
    </div>
</body>
</html>